<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Registration</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" ></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" ></script>
</head>
<body>
	<div th:replace="@{/profileNavbar} ::setNavbar"></div>
	<div class="alert alert-primary" role="alert" th:text="${success}" th:if="${success}"></div>
	<div class="container text-center"> 
		<div>
			<h1>User Profile Details</h1>
		</div>
		<form th:action="@{/profile/details/success}" method="post" 
		style="max-width: 700px; margin:0 auto;" th:object="${userInfo}">
		<div class="m-3">
			<div class="form-group row">
				<label class="col-form-label col-4">E-mail</label>
				<div class="col-8"> <input type="email" class="form-control" th:value="${user.email}" readonly="readonly"/></div>
			</div>
			<div class="form-group row">
			    <label class="col-form-label col-4" for="gender">Gender</label>
				<div class="col-8"> 
					<input class="form-control" th:field="*{gender}" id="gender" readonly="readonly"/>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-form-label col-4" for="birthday">Birthday</label>
				<div class="col-8" > <input type="date" id="birthday" readonly="readonly" class="form-control" th:field="*{birth}"/></div>
			</div>
			<div class="form-group row">
				<label class="col-form-label col-4">Street</label>
				<div class="col-8"> <input type="text" class="form-control" th:field="${userAddress.street}" readonly="readonly"/></div>
			</div>
			<div class="form-group row">
				<label class="col-form-label col-4">Apartment</label>
				<div class="col-8"> <input type="text" class="form-control" th:field="${userAddress.apartment}" readonly="readonly"/></div>
			</div>
			<div class="form-group row">
				<label class="col-form-label col-4">Postcode</label>
				<div class="col-8"> <input type="text" class="form-control" th:field="${userAddress.postcode}" readonly="readonly"/></div>
			</div>
			<div class="form-group row">
				<label class="col-form-label col-4">City</label>
				<div class="col-8"> <input type="text" class="form-control" th:field="${userAddress.city}" readonly="readonly"/></div>
			</div>
			<div class="form-group row">
				<label class="col-form-label col-4">State</label>
				<div class="col-8"> <input type="text" class="form-control" th:field="${userAddress.state}" readonly="readonly"/></div>
			</div>
			<div class="form-group row">
				<label class="col-form-label col-4">Bio</label>
				<div class="col-8"> <input type="text" class="form-control" th:field="*{url}" readonly="readonly"/></div>
			</div>
			<div>
			<a class="btn btn-primary" href="/profile/details/edit" role="button">Update</a>
			<a class="btn btn-primary" href="/" role="button">Cancel</a>
		</div>
		</div>
		</form>
	</div>
	
</body>
</html>